/*
 * ESTILOS ESPECÍFICOS PARA LA PÁGINA DE REGISTRO (registro.ejs)
 */

/* los estilos de los ítems y los iconos */
.password-requirements li {
  color: var(--error-color);
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.password-requirements li::before {
  content: "✖";
  font-family: "Arial", sans-serif;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--error-color);
  color: white;
  transition: background-color 0.3s ease, content 0.3s ease;
}

.password-requirements li.valid {
  color: var(--success-color);
}

.password-requirements li.valid::before {

  background-color: var(--success-color); /* Fondo verde */
}
