<aside class="admin-sidebar">
  <button class="menu-toggle" id="menu-toggle" aria-label="Abrir menú">
    <i class="fas fa-bars"></i>
  </button>
  <div class="sidebar-header">
    <a href="/admin" class="logo">
      <img src="/assets/img/logo.png" alt="Servitech Logo" class="logo-img" />
      <span class="logo-text">Admin</span>
    </a>
  </div>
  <div class="sidebar-content">
    <nav class="sidebar-nav">
      <ul>
        <li class="nav-item"><a href="/admin"><i class="fas fa-user-friends"></i><span>Principal</span></a></li>
        <li class="nav-item"><a href="/admin/adminExpertos"><i class="fas fa-users"></i><span>Expertos</span></a></li>
        <li class="nav-item"><a href="/admin/adminCategorias"><i class="fas fa-tags"></i><span>Categorías</span></a></li>
        <li class="nav-item"><a href="/admin/adminUsuarios"><i class="fas fa-envelope"></i><span>Usuarios</span></a></li>
        <li class="nav-item"><a href="/admin/adminNotificaciones"><i class="fas fa-bell"></i><span>Notificaciones</span></a>
        </li>
        <li class="nav-item"><a href="/admin/adminLogs"><i class="fas fa-file-alt"></i><span>Logs</span></a></li>
      </ul>
    </nav>
  </div>
  <div class="sidebar-footer">
    <a href="/misAsesorias" class="btn-outline"><i class="fas fa-globe"></i><span>Ver sitio</span></a>
    <a href="/login" class="btn-logout"><i class="fas fa-sign-out-alt"></i><span>Cerrar sesión</span></a>
  </div>
</aside>
